RFIDApplication/RFIDIntegratedApplication/Service References/ServiceReference4/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="VitalSignsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IVitalSignsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/VitalSignsServer" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IVitalSignsService_realtimeAnalyze_InputMessage">
    <wsdl:part name="parameters" element="tns:realtimeAnalyze" />
  </wsdl:message>
  <wsdl:message name="IVitalSignsService_realtimeAnalyze_OutputMessage">
    <wsdl:part name="parameters" element="tns:realtimeAnalyzeResponse" />
  </wsdl:message>
  <wsdl:message name="IVitalSignsService_offlineAnalyze_InputMessage">
    <wsdl:part name="parameters" element="tns:offlineAnalyze" />
  </wsdl:message>
  <wsdl:message name="IVitalSignsService_offlineAnalyze_OutputMessage">
    <wsdl:part name="parameters" element="tns:offlineAnalyzeResponse" />
  </wsdl:message>
  <wsdl:portType name="IVitalSignsService">
    <wsdl:operation name="realtimeAnalyze">
      <wsdl:input wsaw:Action="http://tempuri.org/IVitalSignsService/realtimeAnalyze" message="tns:IVitalSignsService_realtimeAnalyze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVitalSignsService/realtimeAnalyzeResponse" message="tns:IVitalSignsService_realtimeAnalyze_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="offlineAnalyze">
      <wsdl:input wsaw:Action="http://tempuri.org/IVitalSignsService/offlineAnalyze" message="tns:IVitalSignsService_offlineAnalyze_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IVitalSignsService/offlineAnalyzeResponse" message="tns:IVitalSignsService_offlineAnalyze_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IVitalSignsService" type="tns:IVitalSignsService">
    <wsp:PolicyReference URI="#NetTcpBinding_IVitalSignsService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="realtimeAnalyze">
      <soap12:operation soapAction="http://tempuri.org/IVitalSignsService/realtimeAnalyze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="offlineAnalyze">
      <soap12:operation soapAction="http://tempuri.org/IVitalSignsService/offlineAnalyze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VitalSignsService">
    <wsdl:port name="NetTcpBinding_IVitalSignsService" binding="tns:NetTcpBinding_IVitalSignsService">
      <soap12:address location="net.tcp://127.0.0.1:50004/VitalSignsServiceEndPoint" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://127.0.0.1:50004/VitalSignsServiceEndPoint</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>RFID-PC\RFID</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>