RFIDApplication/RFIDIntegratedApplication/Service References/ServiceReference4/VitalSignsServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VitalSignsServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VitalSignsServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="FrequencyInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="breath" nillable="true" type="q1:ArrayOfdouble" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="heartbeat" nillable="true" type="q2:ArrayOfdouble" />
      <xs:element minOccurs="0" name="meanBreath" type="xs:double" />
      <xs:element minOccurs="0" name="meanHeartbeat" type="xs:double" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="t" nillable="true" type="q3:ArrayOfdouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FrequencyInfo" nillable="true" type="tns:FrequencyInfo" />
</xs:schema>